.edit {
  margin: 16px;

  .input-group {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    label {
      color: $color-bw3;
      font-size: 0.8rem;
      margin-bottom: 2px;
      display: flex;
      flex-direction: column;
      input {
        font-size: 1.2rem;
        background-color: transparent;
        border-radius: $border-radius;
        border: 1px solid $color-bw3;
        padding: 8px;
  
        &:focus {
          outline: none;
        }
      }
    }


    &.time-group {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .time {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
      }

      .radio-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin-left: 16px;

        label {
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid $color-green;
          padding: 7px;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        input {
          display: none;

          &:checked+label {
            background-color: $color-green;
          }
        }

        &:nth-child(2) {
          label {
            border: 1px solid $color-red;
          }

          input:checked+label {
            background-color: $color-red;
          }
        }
      }
    }

    .error {
      color: $color-red;
      font-size: 0.8rem;
      margin-top: 2px;
    }
  }

  .btn-group {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 36px;
      cursor: pointer;

      img {
        transform: scale(1.5);
      }
    }

    .save {
      height: 36px;
      padding: 0 16px;
      border: none;
      background-color: $color2;

      &:hover,
      &:focus {
        background-color: $color3;
      }
    }
  }

  .modal-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      width: 300px;
      height: 200px;
      padding: 32px;
      background-color: $color-bw1;
      box-shadow: 0 0 10px 0 rgba($color-bw3, 0.2);
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;

      p {
        flex-grow: 1;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
          padding: 6px 16px;
          border: none;

          &:nth-child(1) {
            background-color: $color-bw3;

            &:hover,
            &:focus {
              background-color: $color-bw2;
            }
          }

          &:nth-child(2) {
            background-color: $color2;

            &:hover,
            &:focus {
              background-color: $color3;
            }
          }
        }
      }
    }
  }
}

@media screen and (width >=768px) {
  .edit {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
      grid-column: span 2;
    }

    .input-group {
      input {
        width: auto;
      }
    }

    .btn-group .save {
      margin-right: -102px;

      &.mt {
        margin-top: 52px;
      }
    }
  }
}