.enroll-user {
  @extend .view;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  .logout {
    margin-top: 16px;
    border-top: 1px solid $color-bw3;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      margin: 16px auto;
      font-size: 1rem;
      border-radius: $border-radius;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $color-bw2;
      }
    }
  }
}