header {
  grid-area: header;
  background-color: $color-bw3;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  color: $color-bw4;

  a {
    height: 100%;

    img {
      height: 100%;
    }
  }

  nav {
    position: relative;
    height: 36px;

    .dropdown-btn {
      padding: 6px;
      border-radius: $border-radius $border-radius 0 0;
    }

    .dropdown-cont {
      width: 220px;
      background-color: $color-bw2;
      position: absolute;
      top: 90%;
      right: 0;
      border-radius: $border-radius 0 $border-radius $border-radius;
      box-shadow: -4px 4px 4px rgba($color-bw0, 0.1);
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      font-variant: small-caps;

      button {
        height: 32px;
        margin: 16px 0;
        display: flex;
        align-items: center;
        border: none;
        text-decoration: none;
        font-size: 1.1rem;

        img {
          height: 28px;
          margin-top: 2px;
        }

        &.users-btn {
          margin-bottom: 0;

          img {
            transform: rotate(90deg);
            transition: transform 0.2s ease-in-out;
          }

          &.inactive img {
            transform: rotate(0deg);
          }
        }
      }

      >a {
        @extend button;
        margin-right: 16px;

        &:hover {
          background-color: $color-bw1;
        }
      }

      .user-list {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
        font-size: 1.1rem;

        .user-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;

          a {
            display: flex;
            align-items: center;
            color: $color-bw4;
            text-decoration: none;

            img {
              height: 28px;
            }

            &:hover,
            &.active {
              color: $color-bw3;
            }
          }
        }
      }

      .last-readed {
        position: relative;
        margin-bottom: 16px;

        svg {
          stroke-width: 1.4;
          height: 24px;
          position: absolute;
          right: 0;
          margin-right: 28px;
          cursor: pointer;
          transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out;

          &:hover,
          &.active {
            stroke: $color1;
            transform: rotate(180deg);
          }
        }

        >div {
          margin-top: 4px;
          font-size: 1.2rem;
        }
      }
    }

    &::before {
      position: absolute;
      bottom: calc(10% - 2px);
      right: calc(100% - 2px);
      width: $border-radius * 2;
      height: $border-radius * 2;
      background-color: $color-bw2;
    }

    &::after {
      position: absolute;
      bottom: 10%;
      right: 100%;
      width: $border-radius * 2;
      height: $border-radius * 2;
      border-radius: 50%;
      background-color: $color-bw3;
    }

    &.active {
      .dropdown-btn {
        background-color: $color-bw2;
      }

      &::before,
      &::after {
        content: '';
      }
    }
  }
}

@media screen and (width >=768px) {
  header {
    justify-content: center;

    nav {
      display: none;
    }
  }
}