.side-panel {
  grid-area: side-panel;
  display: none;
  padding-left: 16px;
  flex-direction: column;
  font-variant: small-caps;
  background-color: $color-wb0;

  button {
    height: 50px;
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;

    img {
      height: 28px;
      margin-top: 2px;
    }

    &.users-btn {
      cursor: pointer;

      img {
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
      }

      &.inactive img {
        transform: rotate(0deg);
      }
    }
  }

  >a {
    @extend button;
    margin-right: 16px;

    &:hover {
      background-color: $color-wb2;
    }
  }

  .user-list {
    display: flex;
    flex-direction: column;
    padding: 0 28px;

    .user-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 28px;

      a {
        color: $color-wb4;
        text-decoration: none;

        &:hover,
        &.active {
          color: $color-wb3;
        }

        &:nth-child(2) {
          display: none;
        }
      }

      &:hover,
      &.active {
        a:nth-child(2) {
          display: block;
        }
      }

    }
  }

  .last-readed {
    position: relative;
    margin-top: 16px;

    svg {
      stroke-width: 1.4;
      height: 24px;
      position: absolute;
      right: 0;
      margin-right: 28px;
      cursor: pointer;
      transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover,
      &.active {
        stroke: $color1;
        transform: rotate(180deg);
      }
    }

    >div {
      margin-top: 4px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (width >=768px) {
  .side-panel {
    display: flex;
  }
}