.view {
  height: calc(100dvh - $header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 32px;


  .data {
    position: relative;
    width: min(100%, 400px);

    .edit-btn {
      position: absolute;
      top: 6px;
      right: 0;
      width: 36px;
      height: 36px;
      border: 1px solid $color-bw4;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $color-bw4;
        transform: scale(1.1);
        margin-left: 1px;
      }

      &:hover,
      &:focus {
        border: 1px solid $color1;

        svg {
          color: $color1;
        }
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
    }

    .hours {
      font-size: 7rem;
      margin-bottom: 16px;
      color: $color-green;

      &.neg {
        color: $color-red;
      }
    }

    p {
      margin-bottom: 8px;
    }

    .activate-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
      border-block: 1px solid $color-bw3;

      button {
        margin: 16px 0;
        padding: 8px 16px;

        &.hello {
          background-color: $color-green;
        }

        &.bye {
          background-color: $color-red;
          margin-top: 0;
        }

        &[disabled] {
          background-color: $color-bw2;
          color: $color-bw3;
          cursor: not-allowed;
        }
      }
    }
  }


  .movements {
    width: min(100%, 400px);
    position: relative;
    overflow: auto;

    .movements-header {
      position: sticky;
      top: 0;
      background-color: $color-bw1;
      z-index: 1;

      h2 {
        padding: 16px 0;
      }

      input[type="date"] {
        position: absolute;
        right: 8px;
        top: 16px;
        width: 36px;
        height: 36px;
        border: 1px solid $color-bw4;
        border-radius: 50%;
        background-color: transparent;
        color: transparent;
        cursor: pointer;
        z-index: 10;

        &::-webkit-calendar-picker-indicator {
          font-size: 10rem;
          cursor: pointer;
        }

        &:hover {
          border: 1px solid $color1;

          &~span.calendar>svg {
            color: $color1;
          }
        }
      }

      span.calendar {
        position: absolute;
        right: 8px;
        top: 16px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        pointer-events: none;

        z-index: 1 svg {
          transform: scale(1.05);
        }
      }

    }

    .list {
      .date {
        width: 100%;
        margin-bottom: 8px;
        text-align: right;
        position: relative;
        padding: 8px;

        h3 {
          text-align: left;
          position: absolute;
        }

        .movement {
          color: $color-bw3;

          &:nth-child(odd) {
            margin-bottom: 8px;
          }
        }

        &.selected {
          -webkit-animation: flash 1s both;
          animation: flash 1s both;
        }
      }
    }
  }
}

@media screen and (width >=768px) {
  .view {
    .data {
      h1 {
        font-size: 2.5rem;
      }

      .hours {
        font-size: 10rem;
      }
    }
  }
}

@-webkit-keyframes flash {

  0%,
  50%,
  100% {
    background-color: $color-bw1;
  }

  25%,
  75% {
    background-color: $color-bw2;
  }
}

@keyframes flash {

  0%,
  50%,
  100% {
    background-color: $color-bw1;
  }

  25%,
  75% {
    background-color: $color-bw2;
  }
}