.view {
  height: calc(100dvh - $header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .data {
    margin-bottom: 15vh;
    h1 {
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
    }
    .hours {
      font-size: 7rem;
      margin-bottom: 32px;
      color: $color-green;
      &.neg{
        color: $color-red;
      }
    }
    p {
      margin-bottom: 8px;
    }
  }
}

@media screen and (width >= 768px) {
  .view {
    .data {
      h1 {
        font-size: 2.5rem;
      }
      .hours {
        font-size: 10rem;
      }
    }
  }
}
