.view {
  height: calc(100dvh - $header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .data {
    position: relative;

    .edit-btn {
      position: absolute;
      top: -48px;
      right: 0;
      width: 36px;
      height: 36px;
      border: 1px solid $color-bw4;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: $color-bw4;
        transform: scale(1.1);
        margin-left: 1px;
      }

      &:hover,
      &:focus {
        border: 1px solid $color1;

        svg {
          color: $color1;
        }
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 24px;
    }

    .hours {
      font-size: 7rem;
      margin-bottom: 32px;
      color: $color-green;

      &.neg {
        color: $color-red;
      }
    }

    p {
      margin-bottom: 8px;
    }

    .activate-user {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
      border-top: 1px solid $color-bw3;

      button {
        margin-top: 16px;
        padding: 8px 16px;

        &.hello {
          background-color: $color-green;
        }

        &.bye {
          background-color: $color-red;
        }

        &[disabled] {
          background-color: $color-bw2;
          color: $color-bw3;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (width >=768px) {
  .view {
    .data {
      h1 {
        font-size: 2.5rem;
      }

      .hours {
        font-size: 10rem;
      }
    }
  }
}