@import 'variables';

:root {
  font-family: $font1;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-bw4;
  background-color: $color-bw1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-search-results-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btn-clear {
  border: 1px solid $color-bw3;
  border-radius: $border-radius;
  background-color: transparent;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  font-variant: small-caps;
}

@import 'layout';
@import 'login';
@import 'home';
@import 'edit';
@import 'view';
@import 'header';
@import 'side-panel';
@import 'time-picker';

// Medium devices (tablets, 768px and up)
// @media screen and (width >= 768px) {}
