$color1: #ff9201;
$color2: #01497c;
$color3: #4361ee;

$color-wb0: #000;
$color-wb1: #111;
$color-wb2: #333;
$color-wb3: #a5a5a5;
$color-wb4: #fafafa;

$color-green: seagreen;
$color-red: crimson;

$font1: Inter, system-ui, Avenir, sans-serif;
$header-height: 70px;
